#top #wrap_all .avia-slideshow .av-slideshow-caption.av-9dun22-b3a522ebccc4f8e1011501d951499bda__0 .avia-caption-title{
font-size:30px;
}
#top .avia-slideshow .av-slideshow-caption.av-9dun22-b3a522ebccc4f8e1011501d951499bda__0 .avia-caption-content{
font-size:15px;
}
#top .avia-slideshow .av-slideshow-caption.av-9dun22-b3a522ebccc4f8e1011501d951499bda__0 .avia-caption-content p{
font-size:15px;
}

#top .av-special-heading.av-8vfn02-b47eb45733cf8eca13b3b29909aee35c{
padding-bottom:20px;
font-size:40px;
}
body .av-special-heading.av-8vfn02-b47eb45733cf8eca13b3b29909aee35c .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-8vfn02-b47eb45733cf8eca13b3b29909aee35c .av-special-heading-tag{
font-size:40px;
}
.av-special-heading.av-8vfn02-b47eb45733cf8eca13b3b29909aee35c .av-subheading{
font-size:15px;
}

.flex_column.av-vce16-f8dd34f231750961d9a8752194338a36{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-8gqyle-5e595e3e94c77724d0aa079fddd4c207{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.av-87d28q-62306bb91786e971c7d6f0a38b68c859{
margin-top:70px;
margin-bottom:0px;
}
.hr.av-87d28q-62306bb91786e971c7d6f0a38b68c859 .hr-inner{
width:90px;
max-width:45%;
}
.hr.av-87d28q-62306bb91786e971c7d6f0a38b68c859 .av-seperator-icon{
color:#e7b8b8;
}

.flex_column.av-su7w2-c17e8f66ee5e65ec8bb3c86c2165ee13{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-section.av-7uj8gy-42dea9f448db474088cfce0d340b7e12{
background-color:#fcfcfc;
background-image:unset;
}

.flex_column.av-7qobp6-f3cca91326414d1abbcb7f13b3638864{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-7kvh6i-9dac67a55b7fd9fd5c58ac259589426d{
padding-bottom:10px;
}
body .av-special-heading.av-7kvh6i-9dac67a55b7fd9fd5c58ac259589426d .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-7kvh6i-9dac67a55b7fd9fd5c58ac259589426d .av-subheading{
font-size:15px;
}

.flex_column.av-782w5u-4199d6213410072d6d6e80414c213558{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-718fh6-058fac5910f547571a9fec82bcceb4b3{
padding-bottom:10px;
}
body .av-special-heading.av-718fh6-058fac5910f547571a9fec82bcceb4b3 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-718fh6-058fac5910f547571a9fec82bcceb4b3 .av-subheading{
font-size:15px;
}

.flex_cell.av-6i5yii-7a4fe0f10650c653ee371772cf638abc{
vertical-align:middle;
}

#top .av-special-heading.av-muynu-9a8b87d7fa30a73a1e57994a84eb7c15{
padding-bottom:10px;
}
body .av-special-heading.av-muynu-9a8b87d7fa30a73a1e57994a84eb7c15 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-muynu-9a8b87d7fa30a73a1e57994a84eb7c15 .av-subheading{
font-size:15px;
}

.flex_cell.av-6066aq-659dc1169031e2ffb4996d95c7c47b9d{
vertical-align:bottom;
background-color:#e7b8b8;
}
.responsive #top #wrap_all .flex_cell.av-6066aq-659dc1169031e2ffb4996d95c7c47b9d{
padding:0px 0px 0px 0px !important;
}

.avia-image-container.av-5uwbf6-8e7f20c6b525c4dfa5fb9c488da32d93 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-5uwbf6-8e7f20c6b525c4dfa5fb9c488da32d93 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-5llw2i-4faf67a85067ce30321d4fd619f92c7c{
vertical-align:middle;
background-color:#e7b8b8;
}
.responsive #top #wrap_all .flex_cell.av-5llw2i-4faf67a85067ce30321d4fd619f92c7c{
padding:0px 0px 0px 0px !important;
}

.avia-image-container.av-jc17u-684623422a74ad8d4c0f4e6599cd7126 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-jc17u-684623422a74ad8d4c0f4e6599cd7126 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-ixdfu-4c4964ab9a8d2200f585acd23550f510{
vertical-align:middle;
}

#top .av-special-heading.av-541y2i-9ce8287c9df0d029ee7afff862388ec6{
padding-bottom:10px;
}
body .av-special-heading.av-541y2i-9ce8287c9df0d029ee7afff862388ec6 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-541y2i-9ce8287c9df0d029ee7afff862388ec6 .av-subheading{
font-size:15px;
}

.flex_cell.av-g7iai-05c2fcc1ad6b36a827347b2b9909e67d{
vertical-align:middle;
}

#top .av-special-heading.av-4busjm-6a02e71ae54465e35468a3533664452b{
padding-bottom:10px;
}
body .av-special-heading.av-4busjm-6a02e71ae54465e35468a3533664452b .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-4busjm-6a02e71ae54465e35468a3533664452b .av-subheading{
font-size:15px;
}

.flex_cell.av-439fyy-039c3853d343d2ac716f9b33e32c58c9{
vertical-align:middle;
background-color:#e7b8b8;
}
.responsive #top #wrap_all .flex_cell.av-439fyy-039c3853d343d2ac716f9b33e32c58c9{
padding:0px 0px 0px 0px !important;
}

.avia-image-container.av-3uj4du-773b9db7eafccac30c5725c26c886a49 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-3uj4du-773b9db7eafccac30c5725c26c886a49 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-3l4uwy-840604000a7152889f5eeecc1ba76a93{
vertical-align:middle;
background-color:#e7b8b8;
}
.responsive #top #wrap_all .flex_cell.av-3l4uwy-840604000a7152889f5eeecc1ba76a93{
padding:0px 0px 0px 0px !important;
}

.avia-image-container.av-3evi9e-edafd3e305f85c5b53f524e87b45712f img.avia_image{
box-shadow:none;
}
.avia-image-container.av-3evi9e-edafd3e305f85c5b53f524e87b45712f .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-3655wi-40b9907eeca163ea71cee04399652766{
vertical-align:middle;
}

#top .av-special-heading.av-30cq1m-3dce90be465622607faa4636a8527dbf{
padding-bottom:10px;
}
body .av-special-heading.av-30cq1m-3dce90be465622607faa4636a8527dbf .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-30cq1m-3dce90be465622607faa4636a8527dbf .av-subheading{
font-size:15px;
}

.flex_cell.av-2lzlj6-df9c737946b308ce32916d3a1852ab90{
vertical-align:middle;
}

#top .av-special-heading.av-2eqgaq-d8122a4ede5694428f3ce3bdbf445094{
padding-bottom:10px;
}
body .av-special-heading.av-2eqgaq-d8122a4ede5694428f3ce3bdbf445094 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-2eqgaq-d8122a4ede5694428f3ce3bdbf445094 .av-subheading{
font-size:15px;
}

.flex_cell.av-229wx6-fe607755d55eb7c1742f022671db4a11{
vertical-align:middle;
background-color:#e7b8b8;
}
.responsive #top #wrap_all .flex_cell.av-229wx6-fe607755d55eb7c1742f022671db4a11{
padding:0px 0px 0px 0px !important;
}

.avia-image-container.av-1w0po2-a5e362f5f57a276c34cc17001fdb6c8b img.avia_image{
box-shadow:none;
}
.avia-image-container.av-1w0po2-a5e362f5f57a276c34cc17001fdb6c8b .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-1pgnze-770f638826578597c5c3339621b4eb7b{
padding-bottom:10px;
}
body .av-special-heading.av-1pgnze-770f638826578597c5c3339621b4eb7b .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-1pgnze-770f638826578597c5c3339621b4eb7b .av-subheading{
font-size:15px;
}

.avia-section.av-1ew0a2-1fa95b24cb29aa17161432d524b97af1{
background-color:#e8b8b8;
background-image:unset;
}

.flex_column.av-18n656-78418ffd7db81ed962f342099f63d812{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-454y2-e7cc5f34ce1a8f7c245ac187795ea81e{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-x8uje-71018cd77f6aa66b2e10efbbc29db455{
padding-bottom:20px;
color:#ffffff;
font-size:25px;
}
body .av-special-heading.av-x8uje-71018cd77f6aa66b2e10efbbc29db455 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-x8uje-71018cd77f6aa66b2e10efbbc29db455 .av-special-heading-tag{
font-size:25px;
}
.av-special-heading.av-x8uje-71018cd77f6aa66b2e10efbbc29db455 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-x8uje-71018cd77f6aa66b2e10efbbc29db455 .av-subheading{
font-size:15px;
}

.flex_column.av-7wwai-bb8c08a7a77867018b460f6515cbd303{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-8vfn02-b47eb45733cf8eca13b3b29909aee35c .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-x8uje-71018cd77f6aa66b2e10efbbc29db455 .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-8vfn02-b47eb45733cf8eca13b3b29909aee35c .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-x8uje-71018cd77f6aa66b2e10efbbc29db455 .av-special-heading-tag{
font-size:0.8em;
}
}