#top #wrap_all .avia-slideshow .av-slideshow-caption.av-78yvfq-246e4a9aa0f3d02cb1abe83604832a17__0 .avia-caption-title {
    font-size: 30px;
}
#top .avia-slideshow .av-slideshow-caption.av-78yvfq-246e4a9aa0f3d02cb1abe83604832a17__0 .avia-caption-content {
    font-size: 15px;
}
#top .avia-slideshow .av-slideshow-caption.av-78yvfq-246e4a9aa0f3d02cb1abe83604832a17__0 .avia-caption-content p {
    font-size: 15px;
}
#top #wrap_all .avia-slideshow .av-slideshow-caption.av-78yvfq-246e4a9aa0f3d02cb1abe83604832a17__1 .avia-caption-title {
    font-size: 30px;
}

#top .av-special-heading.av-6jmkue-23aa6b3198cffd85324a685cddb36116 {
    padding-bottom: 20px;
    font-size: 40px;
}
body .av-special-heading.av-6jmkue-23aa6b3198cffd85324a685cddb36116 .av-special-heading-tag .heading-char {
    font-size: 25px;
}
#top #wrap_all .av-special-heading.av-6jmkue-23aa6b3198cffd85324a685cddb36116 .av-special-heading-tag {
    font-size: 40px;
}
.av-special-heading.av-6jmkue-23aa6b3198cffd85324a685cddb36116 .av-subheading {
    font-size: 15px;
}

.flex_column.av-6cmewu-18dacfbcbbebcd48fb9f939306b27836 {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.flex_column.av-m3yha-c18c53659d5af84f1182bdc39f1c9074 {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#top .hr.av-5wd1ly-a965c2cc81174fcfda9d0189c02ed506 {
    margin-top: 70px;
    margin-bottom: 70px;
}
.hr.av-5wd1ly-a965c2cc81174fcfda9d0189c02ed506 .hr-inner {
    width: 90px;
    max-width: 45%;
}
.hr.av-5wd1ly-a965c2cc81174fcfda9d0189c02ed506 .av-seperator-icon {
    color: #e7b8b8;
}

.flex_column.av-5obppq-3655e30325cbc831432e46dfab9d1ca6 {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.flex_column.av-5hz28e-ec4ad8152e16aa92f1343708533bb13f {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.avia-image-container.av-5bql7q-f1094db27cc539aa517390b7c27c1a2e img.avia_image {
    box-shadow: 5px 1px 5px 2px rgba(28, 29, 4, 0.5);
}
.avia-image-container.av-5bql7q-f1094db27cc539aa517390b7c27c1a2e .av-image-caption-overlay-center {
    color: #ffffff;
}

#top .av-special-heading.av-iz9dq-cbff8036774e1f4ce43bc8ca800b32b4 {
    padding-bottom: 10px;
}
body .av-special-heading.av-iz9dq-cbff8036774e1f4ce43bc8ca800b32b4 .av-special-heading-tag .heading-char {
    font-size: 25px;
}
.av-special-heading.av-iz9dq-cbff8036774e1f4ce43bc8ca800b32b4 .av-subheading {
    font-size: 15px;
}

.flex_column.av-4xjaku-6663e214a0946118408cf758f7a88ce1 {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.avia-image-container.av-4sj60e-95f430ef09cbf672fe4caf2ab0e4267e img.avia_image {
    box-shadow: 5px 1px 5px 2px rgba(28, 29, 4, 0.5);
}
.avia-image-container.av-4sj60e-95f430ef09cbf672fe4caf2ab0e4267e .av-image-caption-overlay-center {
    color: #ffffff;
}

#top .av-special-heading.av-4j9yn2-c832b3400c268db5db079641a0e335e6 {
    padding-bottom: 10px;
}
body .av-special-heading.av-4j9yn2-c832b3400c268db5db079641a0e335e6 .av-special-heading-tag .heading-char {
    font-size: 25px;
}
.av-special-heading.av-4j9yn2-c832b3400c268db5db079641a0e335e6 .av-subheading {
    font-size: 15px;
}

.flex_column.av-4afqme-55fda5b87c708450cac8b864447af8f9 {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.avia-image-container.av-407ela-690d38a709f11cb3e04eec14e76a02f0 img.avia_image {
    box-shadow: 5px 1px 5px 2px rgba(28, 29, 4, 0.5);
}
.avia-image-container.av-407ela-690d38a709f11cb3e04eec14e76a02f0 .av-image-caption-overlay-center {
    color: #ffffff;
}

#top .av-special-heading.av-3wv19a-9ba4a36dc47d019fba7d1cbae982f85b {
    padding-bottom: 10px;
}
body .av-special-heading.av-3wv19a-9ba4a36dc47d019fba7d1cbae982f85b .av-special-heading-tag .heading-char {
    font-size: 25px;
}
.av-special-heading.av-3wv19a-9ba4a36dc47d019fba7d1cbae982f85b .av-subheading {
    font-size: 15px;
}

.avia-section.av-3jy226-2583218d204f11f58d44ba3c699190d2 {
    background-color: #e6cdcd;
    background-image: url();
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-attachment: scroll;
    padding: 35px;
    line-height: 3.5em;
}

.flex_column.av-3esbby-3a74b6814bc1820878393f9b72e50023 {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.flex_column.av-3933zi-e5963437851a7b8f0239ed7e23a3b83f {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#top .av-special-heading.av-325soe-921d561b78484ebb3cdc20cf2b6426db {
    padding-bottom: 20px;
    color: #ffffff;
    font-size: 25px;
}
body .av-special-heading.av-325soe-921d561b78484ebb3cdc20cf2b6426db .av-special-heading-tag .heading-char {
    font-size: 25px;
}
#top #wrap_all .av-special-heading.av-325soe-921d561b78484ebb3cdc20cf2b6426db .av-special-heading-tag {
    font-size: 25px;
}
.av-special-heading.av-325soe-921d561b78484ebb3cdc20cf2b6426db .special-heading-inner-border {
    border-color: #ffffff;
}
.av-special-heading.av-325soe-921d561b78484ebb3cdc20cf2b6426db .av-subheading {
    font-size: 15px;
}

.flex_column.av-2d1et2-8b9e9f8f9a5fbc02ac03302ff2e74ca8 {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.flex_column.av-23hfbi-ab1519979bdd4da00474cc096becef5b {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.avia-image-container.av-1vwfdy-85e1e0106b673f775ffd6ac75c3c6b25 img.avia_image {
    box-shadow: 5px 1px 5px 2px rgba(28, 29, 4, 0.5);
    border-radius: 5px;

}
.avia-image-container.av-1vwfdy-85e1e0106b673f775ffd6ac75c3c6b25 .av-image-caption-overlay-center {
    color: #ffffff;
}

.flex_column.av-1pq2ra-4321205269c2360decd012f0d3680ce5 {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#top .av-special-heading.av-1mfhgu-44e6f781d8302eb0fe6bd1608fc73481 {
    padding-bottom: 10px;
    font-size: 40px;
}
body .av-special-heading.av-1mfhgu-44e6f781d8302eb0fe6bd1608fc73481 .av-special-heading-tag .heading-char {
    font-size: 25px;
}
#top #wrap_all .av-special-heading.av-1mfhgu-44e6f781d8302eb0fe6bd1608fc73481 .av-special-heading-tag {
    font-size: 40px;
}
.av-special-heading.av-1mfhgu-44e6f781d8302eb0fe6bd1608fc73481 .av-subheading {
    font-size: 15px;
}

#top .hr.hr-invisible.av-1b1yeu-f371ed57ea36ab0538303529e162366c {
    height: 80px;
}

.avia-section.av-vsibi-f43da907de573a04f576388c4ca5dad4 {
    background-color: #fcfcfc;
    background-image: unset;
}

#top .av-special-heading.av-omoom-ce4483cc8509822ba771b0e237219f4e {
    padding-bottom: 10px;
    font-size: 25px;
}
body .av-special-heading.av-omoom-ce4483cc8509822ba771b0e237219f4e .av-special-heading-tag .heading-char {
    font-size: 25px;
}
#top #wrap_all .av-special-heading.av-omoom-ce4483cc8509822ba771b0e237219f4e .av-special-heading-tag {
    font-size: 25px;
}
.av-special-heading.av-omoom-ce4483cc8509822ba771b0e237219f4e .av-subheading {
    font-size: 15px;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    #top #wrap_all .av-special-heading.av-6jmkue-23aa6b3198cffd85324a685cddb36116 .av-special-heading-tag {
        font-size: 0.8em;
    }

    #top #wrap_all .av-special-heading.av-325soe-921d561b78484ebb3cdc20cf2b6426db .av-special-heading-tag {
        font-size: 0.8em;
    }

    #top #wrap_all .av-special-heading.av-1mfhgu-44e6f781d8302eb0fe6bd1608fc73481 .av-special-heading-tag {
        font-size: 0.8em;
    }

    #top #wrap_all .av-special-heading.av-omoom-ce4483cc8509822ba771b0e237219f4e .av-special-heading-tag {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 479px) {
    #top #wrap_all .av-special-heading.av-6jmkue-23aa6b3198cffd85324a685cddb36116 .av-special-heading-tag {
        font-size: 0.8em;
    }

    #top #wrap_all .av-special-heading.av-325soe-921d561b78484ebb3cdc20cf2b6426db .av-special-heading-tag {
        font-size: 0.8em;
    }

    #top #wrap_all .av-special-heading.av-1mfhgu-44e6f781d8302eb0fe6bd1608fc73481 .av-special-heading-tag {
        font-size: 0.8em;
    }

    #top #wrap_all .av-special-heading.av-omoom-ce4483cc8509822ba771b0e237219f4e .av-special-heading-tag {
        font-size: 0.8em;
    }
}
